body {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.firstofall{
  background-color: rgb(103, 59, 5);
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
}

img{
  width: 75px;
  height: 75px;
  background-color: #1F2937;
  margin-top: 0px; 
  margin-left: 100px;
}

.img1{
  width: 15px;
  height: 15px;
}

.header{
  color: white;
  margin-bottom: 5px;
  outline-style:groove;
}

.left-link{
  color: white;
  margin-left: 80px;
  font-weight: 800;
}
.center-links{
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.right-links{
  margin-right: 250px;
}

a:hover{
  color: beige;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.secondofall{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 60px;
  outline-style: inset;
}

.image{
  background-color: gray;
  color: white;
  margin-right: 170px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.Liako{
  margin-left: 5px;
  width:300px;
  height: 250px;
}

.btn1{
  display: flex;
  background-color: lightblue;
  border-radius: 8px;
  padding: 10px;
  border: solid 1px white;
  width: 140px;
  font-style: oblique;
  flex-direction: row;
}

.txt{
padding-left: 5px;
padding-top: 5px;
color: white;
font-weight: 600;
}

.img{
  margin-left: 30px;
  width: 20px;
  height: 20px;
}

.btn1:hover{
  background-color: black;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  color: white;
}

.subheader{
  color: white;
  margin-left: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

.container {
  height: 140px;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 25px;
  background-image: url(./imgs/goldenscissor.jpg);
}

h2{
  color: burlywood;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}

.item1 {
  width: 120px;
  height: 120px;
  border: 4px solid burlywood;
  border-radius: 8px;
  font-style: oblique;
  background-image: url(./imgs/razor.jpg);
  background-size: contain;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover{
  transform: scale(1.06);
  box-shadow: 0px 0px 3px 3px lightgray;
}

 .item2 {
  width: 120px;
  height: 120px;
  border: 4px solid burlywood;
  border-radius: 8px;
  font-style: oblique;
  background-image: url(./imgs/andriko_kourema.jpeg);
  background-size: contain;
 }

 .item3 {
  width: 120px;
  height: 120px;
  border: 4px solid burlywood;
  border-radius: 8px;
  font-style: oblique;
  background-image: url(./imgs/black_mask.png);
  background-size: contain;
 }

 .item4 {
  width: 120px;
  height: 120px;
  border: 4px solid burlywood;
  border-radius: 8px;
  font-style: oblique;
  background-image: url(./imgs/nixia.png);
  background-size: contain;
 } 


.text{
  text-align: center;
  margin-top: 160px;
  margin-bottom: 70px;
}

.third-plate{
  justify-content: center;
  background-color: lightgray;
  margin-top: 80px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: ridge;
}

.text2{
  margin-top: 40px;

  font-size: 21px;
  width: 480px;
  height: 100px;  
}

.quote{
  margin-left: 290px;
  padding-top: 0px;
  font-weight: 800;
  text-align: end;
}

.fourth-plate{
  display: flex;
  justify-content: center;
  align-items: center;
}
.medal-board{
  background-color: #3882F6;
  width: 650px;
  height: 100px;
  border-radius: 8px;
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.text3{
  font-size: 17px;
  font-weight: 800;
}

.first-text{
  display: flex;
  justify-content: column;
  flex-direction: column;
}

.text4{
  color: lightgray;
}

.btn{
  border-radius: 8px;
  border: solid 2px white;
  color: white;
  background-color: #3882F6;
  width: 90px;
  height: 32px;
  margin-left: 40px;
}

.btn:hover{
  background-color: white;
  color: aqua;
}

.imgs{
  margin-bottom: 5px;
  margin-right: 1500px;
  width: 120px;
  height: 120px;
}
